<footer id="Footer">
    <div class="sub-foot">
        <a href="" id="rights">All Rights Reserved<br/>REB Solutions</a>
        <div class="social">
            <img src="/assets/images/svgs/instagram-white.svg" alt="">
            <img src="/assets/images/svgs/facebook-white.svg" alt="">
            <img src="/assets/images/svgs/linkedin-white.svg" alt="">
        </div>
        <a href="">About Us</a>
        <a href="">Our Clients</a>
        <a href="">Find Companies</a>
        <a href="">Bookmarks</a>
    </div>

</footer>