<footer id="Footer">
    <div class="sub-foot">
        <div class="foot-section">
            <a href="" id="rights">All Rights Reserved<br />REB Solutions</a>
            <div class="social">
                <a href=""><img src="/assets/images/svgs/instagram-white.svg" alt=""></a>
                <a href=""><img src="/assets/images/svgs/linkedin-white.svg" alt=""></a>
                <a href=""><img src="/assets/images/svgs/facebook-white.svg" alt=""></a>
            </div>
        </div>
        <div class="foot-menu">
            <a href="">About Us</a>
            <a href="">Our Clients</a>
            <a href="">Find Companies</a>
            <a href="">Bookmarks</a>
        </div>
    </div>

</footer>