<header id="Head">
    <div class="sub-head">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/icons/Logo.png" class="Logo" alt="Reb Solutions Logo" />
            </a>
        </div>
        <nav class="header-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Find Companies</a></li>
                <li><a href="/">Bookmark</a></li>
            </ul>
        </nav>
        <div class="header-login">
            <ul>
                <li><a href=""><img src="/assets/images/svgs/bell.svg" id="bell" alt="" /></a></li>
                <li><a href="">Join Us</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </div>
        <div class="hamburger">
            <div class="bar-1"></div>
            <div class="bar-2"></div>
            <div class="bar-3   "></div>
        </div>
    </div>

</header>