<header id="Head">
    <div class="sub-head">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/icons/Logo.png" class="Logo" alt="Reb Solutions Logo" />
            </a>
        </div>
        <nav class="header-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Find Companies</a></li>
                <li><a href="">Bookmark</a></li>
            </ul>
        </nav>
        <div class="header-login">
            <ul>
                <li><a href=""><img src="/assets/images/svgs/bell.svg" id="bell" alt="" /></a></li>
                <% if(user){ %>
                    <li><a href="/user/dashboard">Hi, <%= user.FirstName %></a></li>
                <% } else { %>
                <li><a href="">Join Us</a></li>
                <li><a href="/user/login">Login</a></li>
                <% } %>
            </ul>
        </div>
        <div class="hamburger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="ham-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">Find Companies</a></li>
            <li><a href="">Bookmark</a></li>
            <li><a href="">Join Us</a></li>
            <li><a href="/user/login">Login</a></li>
        </ul>
        <a href="" id="bell-ham"><img src="/assets/images/svgs/bell.svg" alt="" /></a>
    </div>

</header>