<form class="search-bar" id="search-bar-form">
    <div class="industry flex-cen">
        <img src="/assets/images/svgs/search.svg" alt="">
        <div class="search-info">
            <select name="industry-list" id="">
                <option disabled selected>Industry Type</option>
                <option value="One">One</option>
                <option value="Two">Two</option>
                <option value="Three">Three</option>
            </select>
        </div>
    </div>
    <div class="country flex-cen">
        <img src="/assets/images/svgs/map.svg" alt="">
        <div class="search-info country-info">
            <select name="country" id="country">
                <option value="" disabled selected>Country</option>
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                <option value="Gulf">Gulf</option>
                <option value="Singapore">Singapore</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Africa">Africa</option>
            </select>
        </div>
    </div>
    <div class="city flex-cen">
        <img src="/assets/images/svgs/map-pin.svg" alt="">
        <div class="search-info city-info">
            <select name="city" id="city-trigger">
                <option value="" disabled selected>City</option>
            </select>
        </div>
    </div>
    <div class="search-container flex-cen">
        <button class="search-button" type="submit">Search</button>
    </div>
</form>