<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About US</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
  <div id="navbar">
    <div id="logo" ><img src="/images/tempLogo.png" alt="REB Solutions"></div>
  <div id="Home"><a href="#">Home</a></div>
  <div id="companies"><a href="#">Find Companies</a></div>
    <div id="Bookmark"><a href="#">Bookmark</a></div>
    <div id="notif"><img src="/images/notif.png" alt="Notifications"><a href="#"></a></div>
  <div id="join"><a href="#">Join Us</a></div>
    <div id="login"><a href="#">Login</a></div>
  </div>

  </body>
</html>