<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <%-include('./Components/Header.ejs') %>
    <div style="width: 500px; height: 500px; padding: 100px;">
        <h1>Welcome <%= user.FirstName %> </h1>
        <a href="/user/Logout">Logout</a>
    </div>
    <%-include('./Components/Footer.ejs') %>
</body>

</html>