<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REB Solutions | Forgot Password</title>
    <link rel="stylesheet" href="/assets/css/forgot_pass.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/images/icons/favicon.ico " type="image/x-icon" />
</head>

<body>
    <%-include("./Components/Header.ejs") %>

    <div class="reset-page">
        <form action="" method="POST" class="reset-form">
            <h1>Forgot Password ?</h1>
            <div class="line"></div>
            <input type="email" id="user-email" placeholder="Email" name="Email" />
            <button type="submit" id="reset-btn">Continue</button>
        </form>
    </div>

    <%-include("./Components/Footer.ejs") %>
    <script src="/assets/scripts/index.js"></script>
</body>

</html>