<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/Home.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <%-include("./Components/Header.ejs") %>
    <div class="home-page">
        <% if(user) { %>
            <h1 style="margin-left: 10%;">Welcome <%= user.FirstName %> </h1>
       <% } %>
       
        <div class="home-banner">
            <div class="banner-head">
                <h1>One Discovery tool for your research<br />needs</h1>
                <button class="search-button">Search</button>
            </div>
            <div class="banner-img">
                <img src="/assets/images/svgs/home-banner.svg" alt="">
            </div>
        </div>
        <br /><br /><br /><br />
        <div class="home-display">
            <form action="/user/search" method="POST" class="search-bar">
                <div class="industry flex-ar-cen">
                    <img src="/assets/images/svgs/search.svg" alt="">
                    <div class="search-info">
                        <select name="industrylist" id="">
                            <option disabled selected>Industry Type</option>
                            <option value="One">One</option>
                            <option value="Two">Two</option>
                            <option value="Three">Three</option>
                       </select>
                    </div>
                </div>
                <div class="city flex-ar-cen">
                    <img src="/assets/images/svgs/map-pin.svg" alt="">
                    <div class="search-info city-select">
                        <select name="citylist" id="city-trigger">
                            <option disabled selected>City</option>

                        </select>
                    </div>
                </div>
                <div class="country flex-ar-cen">
                    <img src="/assets/images/svgs/map.svg" alt="">
                    <div class="search-info country-select">
                        <select name="countrylist" id="" onchange="setCities(this)">
                            <option disabled selected>Country</option>
                             <% if(user) { %>
                                <% if(user.India === true) { %>
                                    <option value="India">India</option>
                                    <% } %>
                                    <% if(user.USA === true) { %>
                                    <option value="USA">USA</option>
                                    <% } %>
                                     <% if(user.UK === true) { %>
                                    <option value="UK">UK</option>
                                     <% } %>
                                    <% if(user.Gulf === true) { %>
                                    <option value="Gulf">Gulf</option>
                                    <% } %>
                                    <% if(user.Singapore === true) { %>
                                        <option value="Singapore">Singapore</option>
                                    <% } %>
                                    <% if(user.Malaysia === true) { %>
                                        <option value="Malaysia">Malaysia</option>
                                    <% } %>
                                    <% if(user.Indonesia === true) { %>
                                        <option value="Indonesia">Indonesia</option>
                                    <% } %>
                                    <% if(user.Africa === true) { %>
                                        <option value="Africa">Africa</option>
                                    <% } %>

                                <% } %>
                            
                        </select>
                    </div>
                </div>
                <div class="search-container flex-ar-cen">
                    <button class="search-button" type="submit">Search</button>    
                </div>
            </form>
            <div class="home-illus">
                <div class="single-illus">
                    <img src="/assets/images/svgs/executives.svg" alt="">
                    <h2>10000+<br />Executives</h2>
                </div>
                <hr />
                <div class="single-illus">
                    <img src="/assets/images/svgs/companies.svg" alt="">
                    <h2>30000+<br />Companies</h2>
                </div>
                <hr />
                <div class="single-illus">
                    <img src="/assets/images/svgs/industries.svg" alt="">
                    <h2>100+<br />Industries</h2>
                </div>
            </div>
        </div>
        <div class="home-about">
            <img src="/assets/images/svgs/home-about.svg" alt="">
            <div class="about-details">
                <h3>About Us</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus explicabo, molestiae consequatur
                    laborum voluptate esse officiis quo est blanditiis adipisci assumenda recusandae fuga, error placeat
                    accusantium mollitia. Consequatur laboriosam iusto obcaecati, dolore error quia ipsum dicta laborum,
                    sunt eius, nesciunt aperiam alias commodi eaque minus!
                </p>
            </div>
        </div>
        <div class="home-clients">
            <h3>Our Clients</h3>
            <div class="client-grp">
                <div class="client-container">
                    <div class="client"></div>
                    <div class="client"></div>
                </div>
                <div class="client-container">
                    <div class="client"></div>
                    <div class="client"></div>
                    <div class="client"></div>
                </div>
            </div>
        </div>
    </div>
    <%-include("./Components/Footer.ejs") %>
    <script src="/assets/scripts/index.js"></script>
    <script src="/assets/scripts/countries.js"></script>
</body>

</html>
