<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REB Solutions</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  </head>
  <body>
  <div id="navbar">
    <div id="logo" ><img src="/images/tempLogo.png" alt="REB Solutions"></div>
  <div id="Home"><a href="#">Home</a></div>
  <div id="companies"><a href="#">Find Companies</a></div>
    <div id="Bookmark"><a href="#">Bookmark</a></div>
    <div id="notif"><img src="/images/notif.png" alt="Notifications"><a href="#"></a></div>
  <div id="join"><a href="#">Join Us</a></div>
    <div id="login"><a href="#">Login</a></div>
  </div>
  <div id="searchandwhatweDo">
    <div id="text">
      One Discvery Tool <br />for your research <br />needs

    </div>
    <div id="search">
      <button type="button" name="searcButton" id="searchButton">Search</button>
    </div>
    <img src="/images/Rectangle 12.png" alt="image" id="image">
  </div>
  <div id="searchCompanies">
    <div id="searchIndustry">
      <div id="searchIcon"><img src="/images/search.png" alt="search"></div>
      <div id="searchText"><input type="text" name="inputIndustry" placeholder="Industry Type"></div>
      <div id="downArrow"><img src="\images\downArrow.png" alt="Arrow"></div>
    </div>
    <!-- <div class="border" id="border1"></div> -->
  <div id="searchLocation">
    <div id="locationIcon"><img src="/images/location.png" alt=""></div>
    <div id="locationText"><input type="text" name="locationText" placeholder="Enter Industry Location"></div>

  </div>
  <div id="searchbuttonCompanies">
    <button type="button" name="button" id="companysearchButton">Search</button>
  </div>
  </div>

  <div id="howweHelp">
    <div id="help1">
      <div id="helpImage1">
      <img src="/images/Rectangle 15.png" alt="People Shaking Hands">
      </div>
      <div id="help1Text">
      <strong> 10,000+ <br />Executives</strong>
      </div>
    </div>
    <div id="helpBorder1"></div>
    <div id="help2">
      <div id="helpImage2">
      <img src="/images/Rectangle 16.png" alt="People Discussing Things">
      </div>
      <div id="help2Text">
      <strong> 30,000+ <br />Companies</strong>
      </div>
    </div>
    <div id="helpBorder2"></div>
    <div id="help3">
      <div id="helpImage3">
      <img src="/images/Rectangle 17.png" alt="Industries">
      </div>
      <div id="help3Text">
      <strong> 100+ <br />Industries</strong>
      </div>
    </div>
  </div>
  <div id="aboutus">
    <div id="aboutusHeading">
      <h4>About Us</h4>
    </div>
    <div id="aboutusImage">
      <img src="\images\Rectangle 19.png" alt="About Us">
    </div>
    <div id="aboutusText">
  <ul>
    <li>Provide the best service</li>
    <li>Best in the industry</li>
    <li>Quality Assured</li>
  </ul>
    </div>
  </div>
  <div id="ourClients">
    <div id="ourclientsHeading">
      <h4>Our Clients</h4>
    </div>
<img src="\images\Rectangle 36.png" alt="Image 1" id="clientimage1">
<img src="\images\Rectangle 36.png" alt="Image 2" id="clientimage2">
<img src="\images\Rectangle 36.png" alt="Image 3" id="clientimage3">
<img src="\images\Rectangle 36.png" alt="Image 4" id="clientimage4">
<img src="\images\Rectangle 36.png" alt="Image 5" id="clientimage5">
  </div>
  <div id="footer">
   <div id="allRights">
     REB Solutions <br /> All Rights Reserved.
   </div>
   <div id="socialNetworkIcons">
     <a href="#" id="instagramLogo"><img src="\images\instagram.svg" alt="instagram"></a>
      <a href="#" id="facebookLogo"><img src="\images\facebook.svg" alt="facebook"></a>
      <a href="#" id="linkedinLogo"><img src="\images\linkedin.svg" alt="linkedin"></a>

   </div>
   <div id="footerNav">
    <div id="footeraboutus"><a href="#">About Us</a></div>
    <div id="footerourclients"><a href="#">Our Clients</a></div>
    <div id="footerfindcompanies"><a href="#">Find Companies</a></div>
    <div id="footerbookmarks"><a href="#">Bookmarks</a></div>
   </div>

   <!-- <div id="credits">
     <div id="facebookLogoCredit">
       Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
<!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
     <!-- </div> --> -->

   </div>
  </div>

  </body>
</html>
