<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/Home.css">
    <link rel="stylesheet" href="/assets/css/Search.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/j
query.min.js">
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.3/chance.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <link rel="icon" href="/assets/images/icons/favicon.ico " type="image/x-icon" />
</head>

<body>
    <%-include('./Components/Header.ejs') %>
    <div class="search-page">
        <div class="search-banner">
            <div class="search-img">
            </div>
            <%-include('./Components/SearchBar.ejs') %>
        </div>
        <div class="search-page-container">
            <table class="search-data-table">
                <thead>
                    <tr class="heading-row">
                        <th class="company-clm">Company Name</th>
                        <th class="email-clm">Email ID</th>
                        <th class="number-clm">Phone Number</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody id="searchTable">
                
                </tbody>

            </table>
        </div>
        <div class="load-btn">
            <button class="search-button" id="load">Load More</button>
        </div>
    </div>


    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
    <script src="/assets/scripts/CountryCity.js"></script>
    <script src="/assets/scripts/load.js"></script>
    <script src="/assets/scripts/Search.js"></script>
    <script src="/assets/scripts/bookmark.js"></script>
    <script src="/assets/scripts/swal.js"></script>
    <script>
        function toggleBookmark(img){
            img.classList.toggle('bookmark-click')
        }
    </script>
</body>

</html>