body {
    margin: 0;
}

/* ----------------------------HEADER starts----------------------------- */

#Head {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.sub-head {
    display: flex;
    padding: 10px 3%;
    align-items: center;
    box-shadow: 0px 10px 61px #00000017;
}

.Logo {
    width: 95px;
}

.header-menu ul {
    list-style: none;
    align-items: center;
    display: flex;
    margin: 0;
}

.header-menu ul li {
    font-size: 18px;
    margin-left: 70px;
    font-family: "Poppins";
    font-weight: 500;
}

.header-login {
    margin-left: auto;
}

.header-login ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

.header-login ul li {
    font-size: 18px;
    margin-left: 50px;
    font-family: "Poppins";
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

#bell {
    margin-top: 5px;
}

button {
    border: none;
    padding: 0;
    outline: none;
    transform: scaleY(0.95);
    transition: 0.2s;
    background-color: white;
}

button:active {
    transform: translateY(2px) scale(0.97);
}

.hamburger {
    display: none;
}

.ham-menu {
    display: none;
}

/* ----------------------------HEADER ends----------------------------- */

/* ----------------------------FOOTER starts----------------------------- */

#Footer {
    background-color: black;
    width: 100%;
}

.sub-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.foot-section,
.foot-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.foot-section {
    width: 35%;
}

.foot-menu {
    width: 65%;

}

#rights {
    font-weight: 400;
}

.sub-foot a {
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    font-size: 22px;
}

.social img {
    margin: 0 10px;
}

/* ----------------------------FOOTER ends----------------------------- */

@media only screen and (max-width: 576px) {
    .sub-head {
        justify-content: space-between;
        padding: 10px 5%;
    }

    .Logo {
        width: 70px;
    }

    .header-menu,
    .header-login {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        width: 25px;
        padding: 8px 10px;
        border-radius: 8px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 4px;
        margin: 2.5px 0;
        background-color: black;
        border-radius: 10px;
        transition: 0.3s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-6px, 7px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-6px, -7px);
    }

    .ham-menu {
        position: absolute;
        width: 100%;
        height: 60vw;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0px 15px 31px #e7e7e7;
        display: flex;
        align-items: center;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        z-index: -5;
    }

    .hide {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .ham-menu ul {
        margin: 0;
        list-style: none;
        padding: 0 12%;
    }

    .ham-menu li {
        font-size: 5vw;
        font-family: "Poppins";
        padding: 3% 0;
    }

    #bell-ham {
        margin-left: 8vw;
        margin-bottom: 12vw;
    }

    #bell-ham img {
        width: 12vw;
    }

    .sub-foot {
        padding: 5vw 0;
    }

    .foot-section {
        flex-direction: column;
        width: 50%;
    }

    .foot-menu {
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
        padding-right: 6%;
        box-sizing: border-box;
    }

    .sub-foot a {
        font-size: 4vw;
    }

    .foot-menu a {
        margin: 2.5vw 0;
    }

    #rights {
        width: 90%;
    }

    .social {
        margin-top: 10vw;
    }

    .social img {
        width: 5.2vw;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .sub-head {
        justify-content: space-between;
        padding: 10px 5%;
    }

    .Logo {
        width: 70px;
    }

    .header-menu,
    .header-login {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        width: 25px;
        padding: 8px 10px;
        border-radius: 8px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 4px;
        margin: 2.5px 0;
        background-color: black;
        border-radius: 10px;
        transition: 0.3s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-6px, 7px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-6px, -7px);
    }

    .ham-menu {
        position: absolute;
        width: 100%;
        height: 52vw;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0px 15px 31px #e7e7e7;
        display: flex;
        align-items: center;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        z-index: -5;
    }

    .hide {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .ham-menu ul {
        margin: 0;
        list-style: none;
        padding: 0 12%;
    }

    .ham-menu li {
        font-size: 4.2vw;
        font-family: "Poppins";
        padding: 3% 0;
    }

    #bell-ham {
        margin-left: 8vw;
        margin-bottom: 12vw;
    }

    #bell-ham img {
        width: 11vw;
    }

    .sub-foot {
        padding: 3vw 0;
    }

    .foot-section {
        flex-direction: column;
        width: 50%;
    }

    .foot-menu {
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
        padding-right: 8%;
        box-sizing: border-box;
    }

    .sub-foot a {
        font-size: 3vw;
    }

    .foot-menu a {
        margin: 2vw 0;
    }

    #rights {
        width: 90%;
    }

    .social {
        margin-top: 10vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .Logo {
        width: 8vw;
    }

    .header-menu ul {
        padding: 0;
    }

    .header-menu ul li {
        font-size: 1.75vw;
        margin-left: 4vw;
    }

    .header-login ul li {
        font-size: 1.75vw;
        margin-left: 3.5vw;
    }

    #bell {
        width: 3vw;
    }

    .sub-foot {
        padding: 2vw 0;
    }

    .foot-section {
        width: 40%;
    }

    .foot-menu {
        width: 60%;
    }

    .sub-foot a {
        font-size: 1.8vw;
    }

    .social img {
        width: 2.5vw;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .Logo {
        width: 80px;
    }

    .header-menu ul li {
        margin-left: 4vw;
        font-size: 1.5vw;
    }

    .header-login ul li {
        margin-left: 3.5vw;
        font-size: 1.5vw;
    }

    #bell {
        width: 2.45vw;
    }

    .sub-foot {
        padding: 2vw 0;
    }

    .foot-section {
        width: 40%;
    }

    .foot-menu {
        width: 60%;
    }

    .sub-foot a {
        font-size: 1.6vw;
    }

    .social img {
        width: 2.3vw;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1440px) {
    .Logo {
        width: 87px;
    }

    .header-menu ul li {
        margin-left: 4.2vw;
    }

    .header-login ul li {
        margin-left: 3.5vw;
    }

    #bell {
        width: 2.6vw;
    }

    .sub-foot a {
        font-size: 1.52vw;
    }

    .social img {
        width: 28px;
    }
}

@media only screen and (min-width: 1550px) and (max-width: 1920px) {
    .Logo {
        width: 5.8vw;
    }

    .header-menu ul li {
        font-size: 1.16vw;
    }

    .header-login ul li {
        font-size: 1.16vw;
    }

    #bell {
        width: 2.2vw;
    }

    .sub-foot a {
        font-size: 1.42vw;
    }

    .social img {
        width: 1.93vw;
        margin: 0 0.65vw;
    }
}