.login-page {
    padding-top: 100px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 80%;
    margin: 80px auto 5vh;
    justify-content: space-between;
}

.login-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-family: Poppins;
    margin-top: 40px;
}

.login-details h1 {
    font-weight: 600;
    font-size: 34px;
}

.line {
    width: 415px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.17);
    margin-bottom: 35px;
}

input {
    width: 400px;
    border: none;
    border-bottom: 1px solid black;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0;
    outline: none;
}

#user-email {
    margin-bottom: 30px;
}

.login-details a {
    width: 400px;
    text-align: right;
    margin: 10px 0 0;
    font-weight: 500;
    font-size: 16px;
    color: #828282;
}

#login-btn {
    background-color: #136AEC;
    width: 190px;
    height: 45px;
    font-size: 23px;
    color: #FFFFFF;
    margin-top: 45px;
    font-family: Poppins;
    font-weight: 500;
    border-radius: 10px;
}

.login-illus {
    width: 50%;
    overflow: hidden;
}

.login-illus img {
    width: 100%;
}

@media only screen and (max-width:576px) {
    .login-page {
        padding-top: 85px;
        height: auto;
    }

    .login-container {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        margin: 0 auto 12vh;
        padding-top: 3vh;
    }

    .login-details {
        width: 90%;
        margin: 0;
    }

    .login-illus {
        width: 90%;
        height: 75vw;
    }

    .login-details h1 {
        font-size: 5.9vw;
    }

    .line {
        width: 72vw;
        margin-bottom: 6vw;
    }

    input {
        width: 69.4vw;
        font-size: 3.47vw;
    }

    #user-email {
        margin-bottom: 5.2vw;
    }

    .login-details a {
        width: 69.4vw;
        font-size: 2.78vw;
    }

    #login-btn {
        width: 32.94vw;
        height: 7.8vw;
        font-size: 4vw;
        margin-top: 7.8vw;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .login-page {
        padding-top: 85px;
        height: auto;
    }

    .login-container {
        width: 100%;
        margin: 0 auto;
        flex-direction: column-reverse;
        align-items: center;
        margin: 12vh auto 18vh;
    }

    .login-details {
        width: 100%;
        margin: 0;
    }

    .login-illus {
        width: 50%;
        height: 40vw;
        margin: 0 auto;
    }

    .login-details h1 {
        font-size: 4.5vw;
    }

    .line {
        width: 54vw;
        margin-bottom: 4vw;
    }

    input {
        width: 52vw;
        font-size: 2.8vw;
    }

    #user-email {
        margin-bottom: 4vw;
    }

    .login-details a {
        width: 52vw;
        font-size: 2vw;
    }

    #login-btn {
        width: 24.7vw;
        height: 5.9vw;
        font-size: 3vw;
        margin-top: 5.8vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .login-page {
        padding-top: 90px;
        height: auto;
    }

    .login-container {
        width: 100%;
        margin: 0 auto;
        flex-direction: column-reverse;
        align-items: center;
        margin: 17vh auto 20vh;
    }

    .login-details {
        width: 100%;
        margin: 0;
    }

    .login-illus {
        width: 50%;
        height: 40vw;
        margin: 0 auto;
    }

    .login-details h1 {
        font-size: 3.42vw;
    }

    .line {
        width: 41.8vw;
        margin-bottom: 3.5vw;
    }

    input {
        width: 40.3vw;
        font-size: 2vw;
    }

    #user-email {
        margin-bottom: 4vw;
    }

    .login-details a {
        font-size: 1.6vw;
        width: 40.3vw;
    }

    #login-btn {
        width: 19.1vw;
        height: 4.5vw;
        font-size: 2.3vw;
        margin-top: 4.5vw;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .login-page {
        padding-top: 90px;
    }

    .login-container {
        width: 90%;
        align-items: center;
    }

    .login-details {
        margin: 0;
    }

    .login-details h1 {
        margin-top: 0;
        font-size: 2.85vw;
    }

    .line {
        width: 34.6vw;
        margin-bottom: 2.95vw;
    }

    input {
        width: 33.35vw;
        font-size: 1.67vw;
    }

    .login-details a {
        font-size: 1.35vw;
        width: 33.35vw;
    }

    #login-btn {
        width: 15.85vw;
        height: 3.75vw;
        font-size: 1.91vw;
        margin-top: 3.8vw;
    }

    .login-illus {
        width: 45%;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {
    .login-page {
        padding-top: 100px;
    }

    .login-container {
        width: 90%;
        align-items: center;
    }

    .login-details {
        margin: 0;
    }

    .login-details h1 {
        margin-top: 0;
    }

    .line {
        margin-bottom: 2.95vw;
    }

    #login-btn {
        margin-top: 3.8vw;
    }
}

@media only screen and (min-width: 1550px) and (max-width: 1920px) {
    .login-page {
        padding-top: 6.25vw;
    }

    .login-container {
        width: 90%;
        align-items: center;
        margin: 5vh auto;
    }

    .login-details {
        margin-top: -40px;
    }

    .login-details h1 {
        margin-top: 0;
        font-size: 2.19vw;
    }

    .line {
        margin-bottom: 2.95vw;
        width: 26.77vw;
    }

    input {
        width: 25.8vw;
        font-size: 1.29vw;
    }

    .login-details a {
        width: 25.8vw;
        font-size: 1.05vw;
    }

    #login-btn {
        margin-top: 2.9vw;
        width: 12.25vw;
        height: 2.9vw;
        font-size: 1.48vw;
    }

    .login-illus img {
        width: 42vw;
    }
}